body {
    margin: 0px;
}
h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
img {
   height: auto;
   width: 100%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}
h1, h2,p { 
    margin-left: 1em;
}